/*The body has been given background color, inserted font, text color, 
text size, height, height, width and placement in the middle.*/
body {background-color:#FFFCFB;
    font-family: "inter", sans-serif;
    color:black;
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 1512px;
    height: auto;
    margin-left: auto;
    margin-right: auto;}
    
/*The website logo (desktop and tablet) has been given position, placement, rounded corners, height and width.*/
#logo {position:absolute;
    margin-left:auto;
    margin-left:auto;
        top:2.5%;
    border-radius: 15px;
    width:10%;
    height:auto;}

/*The mobile device logo has been hidden.*/
#car {display: none;}

/*The header element has been given backgrundcolor, sizes, placement, box-shadow, margin and padding.*/
header {background-color:#B4BBDF;
    max-width: 1512px;
    height: 100px;
    box-shadow:0px 4px 4px 0px rgba(0,0,0,1);
    margin:0;
    position:relative;
    padding:0 1em;
    display:flex;
    justify-content: space-between;
    align-items: center;}

/*The header image has been given width, height and coverage.*/
#header-pic {width:100%;
    height:auto;
    object-fit: cover;}

/*The image's alt text has been centered.*/
.header-pic {text-align: center;}

/*The headings on the header image have been given position, placement and padding.*/
.overlay-text {position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;}

/*The main heading (h1) has been given text size, text color, shading, centered text and margin.*/
h1 {font-size: 2.5em;
    color:white;
    text-shadow: 4px 4px 6px rgb(0,0,0,0.5);
    text-align: center;
    margin:0;
    z-index: 10;}
    
/*the nav element has been given backgroundcolor, box-shadow, bold style, sizes of text, 
position width and height, line-height as well how it should be displayed.*/
nav { background-color: #B4BBDF;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top:0;
    right:0;
    height: 700px;
    width: 300px;
    display: none;
    line-height: 1.6;
    z-index: 5;}
    
/*The nav element's unsorted list has been styled in sizes, placement, margin and padding, 
bold style and font size.*/
nav ul {width: 100%;
    height: auto;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding:0;
    font-weight: bold;
    font-size: 1.4em;}

/*The nav element's object has been sized and padded.*/
nav li {padding: 0.7em 0;
    width: 100%;
    height: auto;}
    
/*The elements have been given rounded corners, background color, 
text color, bold style, box-shadow, no text-decoration and padding.*/
nav a { border-radius:15px;
    background-color: #D3E6FE;
    color:black;
    font-weight: 500;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding:10px;}

/*nav a:active {color: white;}*/
    
/*The elements have been given rounded edges, background color and shaded edges.*/
.menu a {border-radius:15px;
    background-color: #D3E6FE;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);}

/*nav element get background color and a "pointing finger" when hovering.*/
a:hover {background-color: rgb(83, 135, 191);
    cursor: pointer;}
    
/*The menu button gets placement, padding, background color,a border, box-shadow, 
a "pointing finger", sizes and margin.*/
.menu-btn.open {display: flex;
    align-items:center;
    padding: 6px 15px;
    background-color:#D3E6FE;
    border: black solid 1px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.71);
    cursor: pointer;
    width:120px;
    height:60px;
    margin: 0 2em;}
    
/*menu button, hover, gets background color and shadow.*/
.menu-btn:hover {background-color:rgb(83, 135, 191);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.71);}

/*The menu icon gets margin.*/  
.menu-icon {margin-right: 8px;}

/*The lines in the menu get design, size, background color, margin and text centered.*/
.bars {display: block;
    width: 25px;
    height: 3px;
    background-color:black;
    margin: 5px 0;
    align-items: center;}
        
/*The menu-text has been given size, bold style, line height and color.*/
.menu-text {font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5;
    color: black;}

/*The button to close has been given margin, padding, backgroundcolor and text centered.*/ 
.close {margin: 1em 1.5em;
    padding: 10px 15px;
    background-color: #D3E6FE;
    text-align: center;}
        
/*The cross on the close button gets size, design, position and placement.*/
.cross1 {width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;}

/*The cross on the close button gets size, design, position and placement.*/       
.cross2 {width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;}

/*/*A grid container with rows, columns and gaps in between.*/  
.grid-container {display: grid;
                grid-template-rows: auto;
                grid-template-columns:repeat(2, 1fr);
                grid-column-gap: 2%;}

/*The text has been placed in the grid container, margins, text size, line height, 
bold style and centered text.*/
.intro {grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 1;
        grid-column-end: 3;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 1.2em; 
        line-height: 1.6; 
        font-weight: bold;
        text-align: center;}

/*The element has been placed with grid area, background color, margins, rounded edges, centered text and line height.*/
.phone {grid-area:2/1/3/1;
        margin-left: 25%;
        margin-right: 25%;
        background-color: #B4BBDF;
        border-radius: 15px;
        margin-bottom: 4%;
        text-align: center;
        line-height: 1.3;
        margin-top: 3%;}

/* The element has been placed with grid area, background color, margins, rounded edges, centered text and line height.*/      
.email {grid-area:3/1/4/1;
        margin-left: 25%;
        margin-right: 25%;
        background-color: #B4BBDF;
        border-radius: 15px;
        text-align: center;
        line-height: 1.3;
        margin-bottom: 8%;}

/*The link has been given text size.*/
.email a{font-size:0.9em;}

/*The form has been placed with a grid area.*/
form {grid-area:2/2/4/2;margin-right: 25%;}

/*The element has been given a background color, rounded edges, padding and shading.*/
fieldset {background-color: #B4BBDF;
        border-radius: 15px;
        border:0;
        padding:8%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The element has been given text size, centered text and bold style.*/
legend {font-size: 1.5em; text-align: center; font-weight: bold;}

/*The elements have been given text size and bold style.*/
label {font-size: 1.2em; font-weight:500;}

/*The elements have received padding, colored rounded edges.*/
input {padding:2%;
    border:1px solid #ccc;
    border-radius: 5px;width:50%; height:auto;}

/*The button has been given width, height, background color, margin, text size and bold style.*/
#send {width:40%; 
    height:auto; 
    background-color: white;
    margin-left: 8%; 
    font-size: 1.1em; 
    font-weight: 500;}

/*The button has been given a background color and a "pointing finger" when hovering.*/
#send:hover  {background-color: rgb(83, 135, 191);
    cursor: pointer;}

/*The button has been given width, height, background color, margin, text size and bold style.*/
#reset {width:40%; 
    height:auto; 
    background-color: white;
    margin-right:8%; 
    font-size: 1.1em; 
    font-weight: 500;}

/*The button has been given a background color and a "pointing finger" when hovering.*/
#reset:hover  {background-color: rgb(83, 135, 191);
        cursor: pointer;}

/* The text box has been given width and height.*/  
textarea {width:100%; height: auto;}

/*Footer has been placed with a grid area.*/ 
.footer {grid-area:4/1/5/3;}

/*The content in the footer has been given text size, background color, padding, centered text and margin.*/
footer {font-size: 1em;
    background-color: #B4BBDF;
    padding:1%;
    text-align: center;
    margin-bottom:0;}

/*Media rule, breakpoint 1024px, controls what should be shown or not on the menu.*/
@media only screen and (min-width: 1024px){
    .menu-btn {display: none;}
    #open-menu {display: none !important;}
    header {position: static;}
    nav {display: block !important;
                        position: static;
                        box-shadow: 0 0px 0px;
                        height: auto;
                        font-size: 20px;
                        width: auto;}
    nav ul { height: 100%;}
    nav li {display: inline;padding: 1.2em 0;}
}
/*Media rule with a break point between 1024 and 600 pixels: 
the logo has been given a different position, heading a different size 
and elements have been given a different text size and margins.*/
@media (max-width:1024px) and (min-width:600px) {
    #logo {top:25%;}
    h1 {font-size: 2em;}
    .phone {font-size: 1em;margin-left:15%;margin-right:15%;}
    .email {font-size: 1em;margin-left:15%;margin-right:15%;}
}
/*Media rule with a breakpoint of 600 pixels: the logo becomes hidden and another one becomes visible, 
header has been given a different size and position, elements have been given a different position in the column, 
changed text size and sharp edges.*/
@media (max-width:600px) {
    #logo{display:none;}
    #car {display:block;position:absolute;top:25%;margin-left:0;width:12%;height:auto;}
        h1 {font-size: 1.6em;}
        .overlay-text{top:25%;}
        .intro {grid-area:1/1/2/3;margin-left:8%; margin-right:8%;font-size: 1.1em;}
        .phone {grid-area:2/1/3/3;margin-left:4%; margin-right:4%;border-radius: 0;}
        .email {grid-area:3/1/4/3;margin-left:4%; margin-right:4%;border-radius: 0;}
        form {grid-area:4/1/5/3;margin-left:auto;margin-right:auto;margin-bottom: 8%;}
        fieldset {border-radius: 0;}
        legend {font-size: 1.3em;}
        label{font-size: 1.1em;}
        .footer {grid-area:5/1/6/3;}
        footer {font-size: 0.7em;}
}