body {background-color:#FFFCFB;
    font-family: "inter", sans-serif;
    color:black;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 1512px;
    height: auto;
    margin-left: auto;
    margin-right: auto;}

#logo {position:absolute;
    margin-left:1%;
    top:2%;
    border-radius: 15px;
    width:8%;
    height:auto;}

nav{max-width:1512px;
        height:auto;
        margin:0 auto;}

nav li{
    font-size:1.6em;
    display: inline-block;
    margin: 0 25px;}

nav a { border-radius:15px;
    background-color: #D3E6FE;
    color:black;
    font-weight: 500;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding:10px;}

a:hover {/*nav element links hover, get background color and a "pointing finger".*/
        background-color: rgb(83, 135, 191);
        cursor: pointer;}

nav ul {list-style-type: none;}

header {/*the header element has been given color, sizes, placement, margin and padding.*/
        background-color:#B4BBDF;
        max-width: 1512px;
        height: 100px;
        box-shadow:0px 4px 4px 0px rgba(0,0,0,1);
        margin:0;
        position:relative;
        padding:0 1em;
        display:flex;
        justify-content: space-between;
        align-items: center;}  
        
#header-pic{
        width:100%;
        height:auto;
        object-fit: cover;}
    
.header-pic {/*margin-top: 4%;*/
        text-align: center;}
    
.overlay-text {
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;}
    
h1 {font-size: 2em;
    font-weight: bold;
    color:white;
    text-shadow: 4px 4px 6px rgb(0,0,0,0.5);
    text-align: center;
    margin-bottom:0.5%;
    z-index: 1;}

h2 {font-size: 1.8em;
color:white;
font-weight: bold;
margin-top: 0.5%;
text-align: center;
margin-bottom: 4%;
text-shadow: 4px 4px 6px rgb(0,0,0,0.5);}

h3 {font-weight: 500;
text-align: center;}

.grid-container {/*A grid container with rows and columns and gaps in between.*/
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: auto;}

.login {grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 2;
    padding:4%;
    max-width:100%;
    height:auto;
    background-color:#B4BBDF;
    border-radius:15px;
    margin-bottom: 25px;}

label {font-size:1.3em;}

button {padding:4%;
    margin-top:4%;
    color:black;
    font-size: 1.4em;
    font-weight: bold;
    background-color: white;
    padding:1%;
    border-radius: 15px;
    border: none;padding-left: 5%;padding-right: 5%; padding-bottom: 2%;padding-top: 2%;
    box-shadow:0px 2px 2px 0px rgba(0,0,0,1);
    margin-left: 33%;
    margin-bottom: 20px;}

.logintext {font-size: 1em;
    font-weight: 600;
    line-height: 1.6;}

.footer {grid-area:2/1/3/4;}

footer {
    font-size: 1em;
    background-color: #B4BBDF;
    padding:1%;
    text-align: center;
    margin-bottom:0;}

    @media (max-width:1024px) and (min-width:600px){
        nav li {font-size: 1.4em; margin: 0 10px;}
        h1{font-size:1.8em;}
        h2{font-size:1.5em;}
        h3 {font-size: 1.3em;}
        .login {grid-area:1/1/2/4;
        margin-left:5%;
        margin-right:5%;}
        label {padding-left: 33%;}
        button {margin-left: 40%;}
        .logintext {margin-left: 25%; margin-right: 25%;}
    }
    @media (max-width:600px) {
nav a{border-radius:0;}
nav li {font-size: 1.2em; margin: 0 5px;}
h1 {font-size: 1.4em; margin-top: 0;}
h2 {display: none;}
h3 {font-size: 1.2em;}
.logintext {display: none;}
label{font-size: 1.1em;}
.login {border-radius:0; grid-area:1/1/2/4; margin-left: 4%; margin-right: 4%;}
.footer {grid-area:2/1/3/4;}
footer {font-size:0.7em;}
}
    