body {background-color:#FFFCFB;
    font-family: "inter", sans-serif;
    color:black;
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 1512px;
    height: auto;
    margin-left: auto;
    margin-right: auto;}

#logo {position:absolute;
    margin-left:1%;
    top:2%;
    border-radius: 15px;
    width:8%;
    height:auto;
display:flex;
justify-content: left;}

    nav{width:25%;
    margin:0 auto;}

    ul{list-style-type: none;
    padding:0;
margin:0;
font-size: 1.6em;
display: inline-block;}

a { border-radius:15px;
    background-color: #D3E6FE;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);}

li{
    margin: 0 20px;
    display: inline;}


header {/*the header element has been given color, sizes, placement, margin and padding.*/
        background-color:#B4BBDF;
        max-width: 1512px;
        height: 100px;
        box-shadow:0px 4px 4px 0px rgba(0,0,0,1);
        margin:0;
        position:relative;
        padding:0 1em;
        display:flex;
        justify-content: space-between;
        align-items: center;}  
        
#header-pic{
        width:100%;
        height:auto;
        object-fit: cover;}
    
.header-pic {/*margin-top: 4%;*/
        text-align: center;}
    
.overlay-text {
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;}
    
h1 {font-size: 2.3em;
    font-weight: bold;
    color:white;
    text-shadow: 4px 4px 6px rgb(0,0,0,0.5);
    text-align: center;
    margin-bottom:0.5%;
    z-index: 1;}

h2 {font-size: 1.8em;
color:white;
font-weight: bold;
margin-top: 0.5%;
text-align: center;
margin-bottom: 4%;
text-shadow: 4px 4px 6px rgb(0,0,0,0.5);}