/*The body has been given background color, inserted font, text color, 
text size, height, height, width and placement in the middle.*/
body {background-color:#FFFCFB;
    font-family: "inter", sans-serif;
    color:black;
    font-size: 1.1em;
    line-height: 1.5;
    max-width: 1512px;
    height: auto;
    margin-left: auto;
    margin-right: auto;}

/*The website logo has been given position, placement, rounded corners, height and width.*/
#logo {position:absolute;
    margin-left:auto;
    margin-right:auto;
        top:2.5%;
    border-radius: 15px;
    width:10%;
    height:auto;}

/*How the logo should appear.*/
.desktop-logo {display:block;}

/*The header element has been given backgrundcolor, sizes, placement, box-shadow, margin and padding.*/
header {background-color:#B4BBDF;
        max-width: 1512px;
        height: 100px;
        box-shadow:0px 4px 4px 0px rgba(0,0,0,1);
        margin:0;
        position:relative;
        padding:0 1em;
        display:flex;
        justify-content: space-between;
        align-items: center;}

/*The header image has been given width, height and coverage.*/
#header-pic {width:100%;
        height:auto;
        object-fit: cover;}

/*The image's alt text has been centered.*/
.header-pic {text-align: center;}

/*The headings on the header image have been given position, placement and padding.*/
.overlay-text {position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;}

/*The main heading (h1) has been given text size, text color, shading, centered text and margin.*/
h1 {font-size: 2.5em;
    color:black;
    text-shadow: 2px 2px 4px white;
    text-align: center;
    margin:0;
z-index: 10;}

/*the nav element has been given backgroundcolor, box-shadow, bold style, sizes of text, 
position width and height, line-height as well how it should be displayed.*/
nav { background-color: #B4BBDF;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top:0;
    right:0;
    height: 700px;
    width: 300px;
    display: none;
    line-height: 1.6;
z-index: 5;}

/*The nav element's unsorted list has been styled in sizes, placement, margin and padding, 
bold style and font size.*/
nav ul {width: 100%;
        height: auto;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding:0;
        font-weight: bold;
        font-size: 1.4em;}

/*The nav element's object has been sized and padded.*/
 nav li {padding: 0.7em 0;
        width: 100%;
        height: auto;}

/*The elements have been given rounded corners, background color, 
text color, bold style, box-shadow, no text-decoration and padding.*/
nav a { border-radius:15px;
        background-color: #D3E6FE;
        color:black;
        font-weight: 500;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        padding:10px;}

/*The elements have been given rounded edges, background color and shaded edges.*/
.menu a {border-radius:15px;
        background-color: #D3E6FE;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);}

/*nav element get background color and a "pointing finger" when hovering.*/
a:hover {background-color: rgb(83, 135, 191);
        cursor: pointer;}
        
/*The menu button gets placement, padding, background color,a border, box-shadow, 
a "pointing finger", sizes and margin.*/
.menu-btn.open {display: flex;
        align-items:center;
        padding: 6px 15px;
        background-color:#D3E6FE;
        border: black solid 1px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.71);
        cursor: pointer;
        width:120px;
        height:60px;
        margin: 0 2em;}

/*menu button, hover, gets background color and shadow.*/
.menu-btn:hover {background-color:rgb(83, 135, 191);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.71);}

/*The menu icon gets margin.*/  
.menu-icon {margin-right: 8px;}
    
/*The lines in the menu get design, size, background color, margin and text centered.*/
.bars {display: block;
        width: 25px;
        height: 3px;
        background-color:black;
        margin: 5px 0;
        align-items: center;}
    
/*The menu-text has been given size, bold style, line height and color.*/
.menu-text {font-size: 1.5em;
        font-weight: bold;
        line-height: 1.5;
        color: black;}

/*The button to close has been given margin, padding, backgroundcolor, text centered and margin.*/ 
.close {margin: 1em 1.5em;
        padding: 10px 15px;
        background-color: #D3E6FE;
        text-align: center;
        margin-left:20%;}
    
/*The cross on the close button gets size, design, position and placement.*/
.cross1 {width: 25px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;}
    
/*The cross on the close button gets size, design, position and placement.*/       
.cross2 {width: 25px;
        transform: rotate(135deg);
        position: relative;
        top: -3px;}

/*A grid container with rows, columns and gaps in between.*/        
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:repeat(3, 1fr);
    grid-column-gap: 2%;}

/* The element has been placed in the grid container, given rounded edges, 
background color, padding, margin and box-shadow.*/
.personalinfo{grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
    border-radius:15px;
    background-color: #B4BBDF;
    padding-left:8%;
    padding-right: 6%;
    padding-bottom: 4%;
    margin-left: 8%;
    margin-bottom: 8%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The icons have been resized.*/
i.fa-solid {font-size: 25px;}
i.fa-regular {font-size: 25px;}
i.fa-address-card {font-size:30px;}

/*The element's text has been given size and line height.*/
.personalinfo p {font-size: 1.1em;
                line-height: 1.1;}

/*The ul-element has been given font-size, line-height and paddning.*/
.savedlist{font-size: 1.1em; line-height: 1.5; padding-right:8%;}

/*The buttons have been given a background color and "pointing finger" when hovering.*/           
button:hover {background-color: rgb(83, 135, 191);
            cursor: pointer;}

/*The button has been placed with grid area, size, text size, bold style, line height, color, 
background color, rounded edges, padding, margin and box-shadow.*/
.booking {grid-area:1/2/1/2;
    width:220px;
    height:80px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6;
    color:black;
    background-color: #D3E6FE;
    border-radius: 15px;
    padding:4%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The button has been placed with grid area, size, text size, bold style, line height, color, 
background color, rounded edges, padding, margin and box-shadow.*/
.canceled {grid-area:1/2/1/2;
    margin-top: 100px;
    width:220px;
    height:80px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6;
    color:black;
    background-color: #D3E6FE;
    border-radius: 15px;
    padding:4%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The element has been placed with grid area, background color, rounded corners, 
padding, centered text, margin and box-shadow.*/
.bookingtrips {grid-area: 1/3/2/3;
background-color: #B4BBDF;
border-radius: 15px;
padding:4%;
text-align: center;
margin-right: 8%;
padding-bottom: 1%;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The button has been placed with grid area, size, text size, bold style, line height, color, 
background color, rounded edges, padding, margin and box-shadow.*/
.change {width:230px;
    height:80px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6;
    color:black;
    background-color: #D3E6FE;
    border-radius: 15px;
    padding:4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The element has been placed with grid area, margin, background color, padding, rounded corners, centered text and box-shadow.*/
.card {grid-area:2/2/3/4;
        margin-top: 4%;
        background-color:#DCF1E0;
        padding-left:4%;
        padding-right: 4%;
        padding-bottom: 4%;
        border-radius: 15px;
        margin-right: 4%;
        margin-left: 4%;
        margin-bottom: 4%;
        text-align: center;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The text has been given size, line height, left-aligned text and padding.*/
.card p {font-size:1.1em;
        line-height: 1.3;
        text-align: left;
        padding-left:8%;}

/*The icon has been resized.*/
i.fa-camera {font-size: 60px;}
i.fa-barcode {font-size: 50px;}

/*The text has been sized,centered and given padding.*/
#cardtext {font-size: 0.9em;
        text-align: center;
        padding-right: 8%;}

/*The button has been placed with grid area, margin, size, text size, 
bold style, line height, text color, background color, rounded corners, padding and box-shadow.*/
.logout {grid-area:1/2/1/2;
    margin-top: 250px;
    width:280px;
    height:80px;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.6;
    color:black;
    background-color: #D3E6FE;
    border-radius: 15px;
    padding:4%;
    margin-left: auto;
    margin-right: auto;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);}

/*The menu selections get a background color (active) when a visitor is on the page.*/
nav ul li a.active {background-color: rgba(83, 135, 191);}

/*Footer has been placed with a grid area.*/   
.footer {grid-area:4/1/5/4;}

/*The content in the footer has been given text size, background color, padding, centered text, margin,
line-height and box-shadow.*/
footer {font-size: 1em;
        background-color: #B4BBDF;
        padding:1%;
        text-align: center;
        margin-bottom:0;
        line-height:1;
        box-shadow:0px -3px 3px 0px rgba(0,0,0,1);}

/*Media rule, breakpoint 1024px, controls what should be shown or not on the menu.*/
@media only screen and (min-width: 1024px){
    .menu-btn {display: none;}
    #open-menu {display: none !important;}
    header {position: static;}
    nav {display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 20px;
        width: auto;}
    nav ul { height: 100%;}
    nav li {display: inline;
        padding: 1.2em 0;}
}

/*Media rule for break point at 1024px to 600px: Headings and the logo got different sizes, icons got different sizes. 
Element,text and buttons have been given different sizes. Some objects have been hidden.*/
@media (max-width:1024px) and (min-width:600px) {
#logo {top:8%;width:15%; height:auto;}
h1 {font-size: 2em;}
h2{font-size: 1.4em;}
i.fa-solid {font-size: 20px;}
i.fa-regular {font-size: 20px;}
i.fa-address-card {font-size:25px;}
.personalinfo{font-size: 1em;}
.booking {width:200px; height:60px; font-size: 1.1em;}
.canceled {width:200px; height:60px; font-size: 1.1em;}
.logout {width:220px; height:60px; font-size: 1.1em;}
.change {width:180px; height:60px; font-size: 1em;}
i.fa-camera {display:none;}
i.fa-barcode {font-size: 50px; margin:0; padding:0;}
#cardtext {display: none;}
.card {padding:0;margin-top:8%;}
}

/*Media rule at break point of 600px. 
Elements have been given different positions in a column, text size has been changed, 
icons have been resized and some objects are hidden.*/
@media (max-width:600px) {
#logo{top:15%;width:25%; height:auto; border-radius: 0;}
    h1 {font-size: 1.6em;}
    .overlay-text{top:25%;}
    .personalinfo {grid-area:1/1/2/4; margin-left:4%; margin-right: 4%; border-radius: 0;}
    .personalinfo p {line-height: 1.4; font-size: 1em;}
    .bookingtrips {grid-area:2/1/3/4; border-radius: 0; margin-left: 4%; margin-right:4%;}
    .booking {grid-area:3/1/3/4; margin-top:4%;}
    .canceled{grid-area:3/1/3/4; margin-top: 120px;}
    .logout {grid-area:3/1/3/4; margin-top:220px; margin-bottom:8%;}
    .card {grid-area: 4/1/5/4; border-radius: 0;margin-bottom: 8%;}
    i.fa-camera {display: none;}
    #cardtext{display:none;}
    .card p {font-size: 1em; text-align: center;padding-left: 0%;}
    .footer {grid-area:6/1/7/4;}
    footer {font-size: 0.9em;}
}